.fileList {
  div {
    border: 1px solid #000;
  }
}
.upload {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 1px solid #000;
  text-align: center;
  line-height: 100px;
}