.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fileList {
  width: 80%;
  div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #000;
  }
}
.upload {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 1px solid #000;
  text-align: center;
  line-height: 100px;
}